.mainContainer {
    overflow: hidden
}

.searchArea { 
    display: flex;
    justify-content: center; 
    align-items: end;
    min-width: 10vw; 
    width: 30vw;
    height: 50vh; 
    margin-inline: auto; 
    margin-top: 17vh; 
    border-radius: 20px;
    background-color: #051c49fc;
}


.search {
    height: 81.6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
}

.search p {
    font-size: 1.6vw;
    font-weight: 800;
    justify-self: start;
    color: #ffffff;
    margin-bottom: 15px;
}

.search input {
    max-width: 20vw;
    font-size: 1.7vw;
    color: #C89B3C;
    font-weight: 700;
    border-radius: 5px;
    padding-block: 10px;
    border-radius: 100px;
} .search input::placeholder {
    font-size: 1.2vw; 
    color: rgb(134, 134, 134); 
}

.search-bar { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c3d80fc;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    background-color: #1c3d80fc;
} .search-bar input:focus {
    outline: none;
}

.icon {
    width: 2vh;
    padding-inline: 10px;
}